*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.underline:hover {
    text-decoration: underline;
}

a {
    color:black;
    display: flex;
    align-items: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-single {
    flex:1;
}
.flex-double {
    flex: 2;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.flex-center {
    justify-content:  center;
}

.flex-between {
    justify-content: space-between;
}

.flex-evenly {
    justify-content: space-evenly;
}

.flex-vertical-align {
    align-items: center;
}
.flex-horizontal-align {
    justify-content: center;
}
.flex-wrap {
    flex-wrap: wrap;
}